<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../Static/js/index.js"></script>

    <script>

        handleSession(sessionLog, checkAge);

        setTimeout(() => alert('Subscribe now!'), 7000);

        const search = function () {
            return document.getElementsByTagName('input')[0].value.toLowerCase();
        }
    </script>

</head>

<header>
    <h1>LifeSpot — прямые трансляции с улиц</h1>
    <p>Покажем, что происходит прямо сейчас</p>
</header>

<!--SIDEBAR-->

<body>
    <div class="bordered">
        <div class="search">
            <input placeholder="Search on site" type="text" class="searchfield" oninput="searchResult(search)" />
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Нью-Йорк</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhY1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Нью-Йорк</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Лондон</h3>
        </div>
    </div>
</body>

<!--FOOTER-->

</html>